html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
i{
    color:#2fccd0;
}

#loading{
    width: 100%;
    height: 100vh;
    background: #ffff url(img/loading.gif) no-repeat center;
    position: relative;
}

/*<!--**************header part start****************-->*/

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url('img/back-img.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    clip-path: polygon(100% 0%,100% 77%,50% 100%,0 75%,0 0);

}
.header:before{
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient( to right, #1e5799 0%, #3ccdbb 0%,#16c9f6 100%);
}
/*.navbar-brand{
    color: #fff!important;  
}*/
.nav-item a{
    color: #fff!important;
    font-weight: bold;

}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);

}
.header-buttons a{
    border:1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    font-size: 1em;
    font-weight: 400;
    line-height:1.4;
    text-align: center;
}
.header-buttons a:hover{
    color: #126b5f;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    text-decoration: none;
}
.center-div p{
    font-size: 1.4rem;
    color: #fff;
    padding: 10px 0 20px
    
}
/*<!--**************header part start****************-->*/
/**********************extra div*************/
.header-extradiv .extra-div{
    width: 100%;
    height: auto;
    margin: 10px 0;
    text-align: center;

}
.extra-div{
    background-color: #fff;
    border:medium none;
    padding: 50px!important;
    border-radius: 3px;  
    transition: 0.3s;
}
.extra-div h2,.servicediv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
.extra-div:hover{
    box-shadow: 1px 2px 20px 0 rgba(0,0,0,0.3);
    transform: translateY(2.5px);

}
/*<!--**************end extra div****************-->*/

/*************** strat service offer*****************/
.serviceoffers{
    background-color: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}
.headings{
    margin-bottom: 50px;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}

.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress{
    height: 0.6rem!important;
    margin-bottom: 25px!important;
    background-color: #606060;
}   
/*************** strat service end*****************/

/*--**************counter award start****************/
.project-work{
    margin: 100px 0;
}
.project-work{
    font-size: 2rem;
    text-align: center;
}

/*--**************counter award end*****************/
/**************Start of Pricing*****************/
.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;

}
.pricing:before{
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0;
    z-index: -1;
    background: linear-gradient( 160deg, #16c9f6 55%, #fff 0%);
}
.money{
    font-size: 40px;
    color: #606060;
    line-height: 1;
}
.card{
    transition: 0.4s ease;
}
.card-header{
    font-size: 1.6rem;
    font-weight:bold;
    background:#fff!important;
    padding: 25px 0!important;
}
.card-body{
    padding: 30px 0px!important;
}
.card-body li{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6rem;
    color: #606060;
}
.card-footer{
    padding: 30px 0!important;
    background-color: #fff!important;
}
 
.card-footer a{
    border:1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    font-size: 1em;
    font-weight: 400;
    line-height:1.4;
    text-align: center;
    color: #50d1c0;
}
.card:hover .card-footer a{
    color: #fff;
    background: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    text-decoration: none;
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover .card-header, .card:hover .money{
    color: #50d1c0;
}
.card-second{
     transform: translateY(-20px);
}
/**************End of Pricing*****************/

/*--**************start Customer Feedback*****************/
.happyclient{
    width: 100%;
    height: 100vh;
    padding:  80px 0;
   
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}
.box:hover{
    background-color: #16c9f6;
}

.box:hover p,.box:hover h1, .box:hover h2{
    color: #fff;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;
}
.carousel-indicators li{
    background-color: #16c9fc!important;
}
.box a{
    position: relative;
}
.box a img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
.box a:after{
content: "\f10d";    
font-family: FontAwesome;
width: 40px;
height: 40px;
background:linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
border-radius: 50%;
color: #fff;
position: absolute;
top: 120%;
left: 70%;
display: flex;
justify-content: center;
align-items: center;
}
.box h1{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.box h2{
    font-size: 13px;
    font-weight: 400;
    color: #6666;
    margin-bottom: 20px;
}
/*--**************End Customer Feedback*****************/
/***************start Customer Feedback****************-->*/
.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}
.contactus:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(330deg, #16c9f6 55%,#fff 0%);
}
/*<!--**************End Customer Feedback****************-->*/
/********************start contact us***********/
.form-button button{
    border:1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    font-size: 1em;
    font-weight: 400;
    line-height:1.4;
    text-align: center;
    color: #50d1c0;
    background: transparent;
}
form:hover .form-button button{
    background-color: #fff;
    color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
::placeholder{
    font-size: 0.5rem;
}
/********************end contact us***********/
/********************start news-latter***********/
.subscribe{
    width: 100%;
    height: auto;
    margin: 80px 0;
}
.news-input{
    border-radius: 100px 0px 0px 100px!important;
    min-width: 150px;
    min-height: 45px;
}
.input-group-text{
    color: #fff!important;
    background: #5bc0de!important;
    border-radius: 0px 100px 100px 0px!important;
    min-width: 120px;
    min-height: 45px;
}
.input-group-text:focus{
    outline: none;
}
.footer h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);

}



/********************end news-latter***********/
/********************footer start***********/
.footer{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    position: relative;
    background-color: #00abff;
}
.footer p{
    color: white;
}
.footer li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}
.footer-input{
    border-radius: 100px 0px 0px 100px!important;
    min-width: 110px;
    min-height: 30px;

}

.input-group-btn{
    font-size: 1rem;
    color: #fff!important;
    background: #5bc0de!important;
    border-radius: 0px 100px 100px 0px!important;
    min-width: 76px;
    min-height: 30px;
    border: none;
}
.input-group-btn:focus{
    outline: none;
}
#mybtn{
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right:40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}
#mybtn:hover{
    background-color: #606060;
}
/********************footer end***********/
/**********************media Query start**********************/
@media(max-width:768px){
    .nav-item{
        text-align: center!important;
    }
    .pricing,.happyclient,.contactus{
        height: auto;
        margin-top: 20px;
    }
    .card-second{
        transform: translateY(0px);
        margin:30px 0;
    }
    .contactus p{
        padding: 0px 30px;
    }
    .footer:nth-child(2){
        text-align: left!important;

    }
}

/**********************media Query end**********************/